* {
  background-color: #ffffff; }

.card-group {
  padding: 29px;
  margin: 25px; }

.col {
  padding: 29px;
  margin: 25px; }

.navbar {
  padding: 0;
  margin: 0; }
  .navbar a {
    color: red; }
  .navbar img {
    margin-left: -45px;
    margin-right: -50px; }

.card {
  max-width: 300px;
  margin: auto; }

body {
  background-color: black; }

.carousel-inner {
  max-width: fit-content; }

.carousel-caption {

  margin: 5%;
  padding: 5%;
  max-width: fit-content;
  position: relative;
}
   
  

.carousel-item {
  max-width: fit-content;
  margin-top: 1rem; }
  .carousel-item p {
    position: relative;
    color: #c92222;
    font-size: 12px;
    display: block; }
